<%# Right Sidebar %>
<div class="container bg-gray-400">
  <p>
    <%= @user.full_name %> <br>
    <small class="text-blue-500"><%= @user.username %></small>
  </p>
  <p>
    Following: <%= @user.follow_count %>
  </p>
  <p>
    Followers: <%= @user.follower_count %>
  </p>
  <%= link_to "Follow", follows_path(id: @user.id),
                        method: :post %>
</div>
