<div class="img-and-name border-b-2 mb-3">
  <% if @user.photo.attached? %>
    <%= image_tag(@user.photo, class: "w-32 mx-auto rounded-full") %>
  <% end %> 
  <p class="font-bold text-center p-3">
    <%= @user.full_name %> <br>
    <small class="text-gray-700"><%= @user.username %></small>
  </p>
</div>
<div class="info text-center flex">
  <p class="p-3 font-bold">
      <%= @user.post_count %> <br> <span class="uppercase text-gray-400"> Posts</span>
  </p>
  <p class="p-3 font-bold">
      <%= @user.follow_count %> <br> <span class="uppercase text-gray-400"> Following</span>
  </p>
  <p class="p-3 font-bold">
      <%= @user.follower_count %> <br> <span class="uppercase text-gray-400"> Followers</span>
  </p>
</div>
<div class="button flex justify-center">
  <%= follow_actions(@user) %>
</div>

<%= user_photo_upload(current_user)%>

<%# Follower list %>
<% @user.following_users.each do |person| %>
  <div class="person-box bg-white hover:shadow-2xl shadow-lg rounded-lg flex px-10 m-3 py-3 h-24 items-center justify-between">
    <% if person.photo.attached? %>
              <%= image_tag(person.photo, class: "w-16 rounded-full") %>
          <% end %>
    <%= link_to person.full_name, user_path(person) %></p>
  </div>
<% end %>
