<%# New Post %>
<%= form_with(model: @post, local: true) do |f| %>
  <%= f.label :body, hidden: true %>
  <%= f.text_area :body, placeholder: "What's on your mind?" %>
  <%= f.submit 'Post' %>
<% end %>

<%# Timeline %>
<% @timeline.each do |post| %>
<div class="container m-3 p-3 w-15 bg-yellow-500">
  <p class="text-lg"> <%= post.body %> </p>
  <small> <%= post.user.username %> </small>
</div>
<% end %>

