<div class=" posts-container w-auto m-0 flex flex-col">
<%# New Post %>
  <%= form_with(model: @post, local: true,
                              class: "flex text-center 
                                      text-blue-500 
                                      flex-col m-5") do |f| %>
    
    <%= f.label :body, hidden: true %>
    <%= f.text_area :body, placeholder: "What's on your mind?",
                           class: "bg-gray-100 rounded-lg p-10 text-2xl text-center" %>
    
    <%= f.submit 'Post', class: "px-3 py-2 justify-center shadow-lg rounded bg-blue-500 hover:bg-blue-700 text-white" %>
  <% end %>

<%# Timeline %>
  <div class="flex flex-col">
    <%= render 'shared/timeline'%>
  </div>
</div>
<%# Who to follow sidebar %>
<div class="flex px-12 py-4 bg-gray-200">
  <div class="flex-col items-center right-sidebar">
    <%= render 'shared/who_to_follow'%> 
  </div>
</div>