<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# sidebar %>
  <div class="container bg-yellow-400">
    <% if user_logged_in? %>
      <%= link_to "Home", :root %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%#= link_to "Log In", login_path%>
    <% end %>
  </div>
    
    
  <% flash.each do |message_type, message| %>
    <p class="text-red-600">
      <%= message %>
    </p>
  <% end %>


    <%= yield %>
    <div class=" absolute p-10 bottom-0 justify-center mt-10 bg-blue-200">
    <%= debug(params) if Rails.env.development?%>
    </div>
  </body>
</html>
