<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper flex w-screen">
      <% flash.each do |message_type, message| %>
        <p class="text-red-600">
          <%= message %>
        </p>
      <% end %>
      <div class="flex justify-between w-screen">
      <%= render 'shared/left_sidebar'%>
        <%= yield %>      
      </div>
    </div>
  </body>
</html>
